[submodule "Dependencies/Retr0Log"]
	path = Dependencies/Retr0Log
	url = https://github.com/Retr0Aa/Retr0Log
[submodule "Dependencies/MyGui"]
	path = Dependencies/MyGui
	url = https://github.com/Retr0Aa/MyGui
